#conexoes V2
PG_V2_HOST=tenant-database
PG_V2_PORT=5432
PG_V2_NAME=tenant
PG_V2_USER=tenant
PG_V2_PASS=tenant

#conexoes FIREBIRD
FB_V1_HOST=host.docker.internal
FB_V1_PORT=3050
FB_V1_NAME=client-firebird-v1
FB_V1_USER=user
FB_V1_PASS=pass
FB_V1_CHARSET=ISO8859_1

PG_V1_HOST=host.docker.internal
PG_V1_PORT=3396
PG_V1_NAME=client-db-v1
PG_V1_USER=user
PG_V1_PASS=pass

#ARQUIVOS
EMPTY_FILENAME=sql/empty.sql
DUMP_FILENAME=sql/db_cmd.dmp.sql
FINAL_FILENAME =sql/cmd_fim.sql
INICIAL_FILENAME=sql/cmd_ini.sql
PRINCIPAL_FILENAME=sql/cmd.sql